header{
    background: #fff; height: 40px; border-bottom: 1px solid #f1f2f7; 
    button{margin:6px 5px 6px 0;}
    .logo-name{font-size: 26px; line-height: 36px;padding-right: 15px; color: #2481c9; float: left;}
}