<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3"> 
                <span class="logo-name">RMS</span>
                <button type="button" class="button-common"><i class="fa fa-bars" aria-hidden="true" (click)="navigationClick()"></i></button>
            </div>
            <div class="col-lg-9">
                <ul>
                    <li>
                        <button mat-button [matMenuTriggerFor]="menu">
                            <img src="../../../../../assets/img/Avatar.png" alt="Avatar">
                            <span>Welcome Admin</span>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button mat-menu-item>Profile</button>
                          <button mat-menu-item>Log out</button>
                        </mat-menu>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>