

        <div class="row">
            <div class="col-6">
                <h2 class="form-signin-heading">Contact Information</h2>
                <div class="infobox">
                    <ul>
                        <li><i class="fa fa-facebook" aria-hidden="true"></i>contact@indoreai.com</li>
                        <li><i class="fa fa fa-mobile"></i>+91-808-584-6225</li>
                        <li><i class="fa fa-map-marker"></i>101 Platinum plaza Pu 4,<br>
                            Behind C21 Mall, Scheme 54 PU4,<br>
                            Indore, Madhya Pradesh 452010</li>
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <h2 class="form-signin-heading">Contact US</h2>
                <form class="form-register">
                    <input type="text" class="form-control" name="username" placeholder="Full Name" required=""
                        autocomplete="off" />
                    <input type="text" class="form-control" name="email" placeholder="Email Address" required=""
                        autocomplete="off" />
                    <input type="tel" class="form-control" name="phone" placeholder="Phone Number" requiberred=""
                        autocomplete="off" />
                    <textarea class="form-control" placeholder="Message" autocomplete="off"></textarea>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
                </form>
            </div>
        </div>

   
