<div class="row admin-top">
        <div class="col-lg-8">
            <h2>Register your Vehicel</h2>
        </div>
        <div class="col-lg-4 text-right">
            <button mat-flat-button color="primary" (click)="openDialog()">Register Vehicel</button>
        </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <ag-grid-angular
        class="ag-theme-alpine ag-grid"
        [rowData]="rowData" 
        [columnDefs]="columnDefs">
    </ag-grid-angular>
    </div>
    <div class="col-lg-6">
        <div class="vehicel-detail">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <span>Vehicle Number :</span>
                        <span>MP 09 AR 9343</span>
                    </div>              
                    <div class="col-lg-6">
                        <span>Water Capacity :</span>
                        <span>1000 Litter</span>
                    </div>
                    <div class="col-lg-6">
                        <span>Current Status :</span>
                        <span class="available">Available</span>
                    </div>
                    <div class="col-lg-6">
                        <span>Current Status :</span>
                        <span class="booked">Booked</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>