<div class="row admin-top">
        <div class="col-lg-8">
            <h2>Register your Vehicel</h2>
        </div>
        <div class="col-lg-4 text-right">
            <button mat-flat-button color="primary" (click)="openDialog()">Register Vehicel</button>
        </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <ag-grid-angular
        class="ag-theme-alpine ag-grid"
        [rowData]="rowData" 
        [columnDefs]="columnDefs">
    </ag-grid-angular>
    </div>
    <div class="col-lg-6">
        <div class="vehicel-detail"></div>
    </div>
</div>