.mat-flat-button.mat-primary{background: #2481c9;height: 30px; line-height: 10px;font-weight: 400; border-radius: 0;}
.mat-flat-button.mat-primary:hover{background:#5e8fb5;}
.vehicel-detail{border: solid 1px #ddd;height: 400px;background: #fff;}