<div class="rotateslider-container" id="slider">
    <div class="rotateslider-item"><img src="../../../../../assets/img/carousel/tanker1.jpeg"></div>
    <div class="rotateslider-item"><img src="../../../../../assets/img/carousel/tanker2.jpg"></div>
    <div class="rotateslider-item"><img src="../../../../../assets/img/carousel/tanker1.jpeg"></div>
    <div class="rotateslider-item"><img src="../../../../../assets/img/carousel/tanker2.jpg"></div>
    <span class="arrow right js-rotateslider-arrow" data-action="next"><i class="fa fa-angle-right"></i></span>
    <span class="arrow left js-rotateslider-arrow" data-action="prev"><i class="fa fa-angle-left"></i></span>
  </div>