/* You can add global styles to this file, and also import other style files */

/* color theme start */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

* {padding: 0; margin: 0;}
html, body { height: 100%;  margin: 0;} 
body ::placeholder { opacity: 1; transition: opacity .5s; } 
 body :focus::placeholder { opacity: 0; }
 
a, a:hover{text-decoration: none !important;}
h1, h2, h3, h4, h5, h6{color: #1d5077;}
h1{font-size: 40px;}
h2{font-size: 26px !important;}
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track {background: #8eb4d1;}
::-webkit-scrollbar-thumb {background: #76e37a;}
::-webkit-scrollbar-thumb:hover {background: #6fd173;}


body .form-control{border-radius: 0; margin-bottom: 15px; padding: 5px 10px 7px 10px; height: 32px; font-size: 14px;}
body .form-control:focus{box-shadow: none;}
body .btn-lg{ height: 32px; line-height: 5px; border-radius: 0; padding-top: 4px; font-size: 18px;}
body textarea{height: 200px;}


.button-common{font-size: 16px; border: solid 1px #d5d5d5; color: #7a7a7a; width: 26px; height: 26px; background: none; border-radius: 2px;}
.button-common:hover{border-color: #2481c9; color: #2481c9;}
.mat-flat-button.mat-primary{background: #2481c9;height: 30px; line-height: 10px;font-weight: 400; border-radius: 3px !important;}
.mat-flat-button.mat-primary:hover{background:#5e8fb5;}

app-dashboard-container{float: left; width: 100%; clear: both;
    app-header{width: 100%;}
    app-sidebar{width: 225px; height: calc(100vh - 40px); background: #fff; float: left;position: absolute; left: 0;transition: transform .3s ease-in-out,width .3s ease-in-out;}
    app-admin{height: calc(100vh - 40px); width: 100%; float: left; padding-left: 240px;transition: transform .3s ease-in-out,padding .3s ease-in-out;background: #f1f2f7;overflow: hidden;
    padding-right: 15px;
    }
    .admin-top{
        button{margin-top: 10px;}
    }
}

.sidebar-collapse{
    app-sidebar{width: 40px;}
    app-admin{padding-left: 55px;}
}

/*-------- style for common popup ----*/
.admin-container{
    h2{font-size: 22px !important; font-weight: 400; color: #444; margin-top: 10px;}
}

/*------ag-grid-style------*/
.ag-grid{width: 100%; height:500px;
    .ag-header{height: 32px !important; min-height: 32px !important;}
    .ag-header-row{height: 32px !important; min-height: 32px !important;}
    
}