$primary:#fff000;
/* color theme close */
h1{@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');}
h1, h2, h3, h4, h5, h6{color:#0f3a6c;}
/* font size */
$fsizeh1:40px;
$fsizeh2:36px;
$fsizeh3:32px;
$fsizeh4:28px;
$fsizeh5:24px;
$fsizeh6:20px;
/* font size */
$lineHeight32:32px;
$primaryBg:#2481c9;
$whiteColor:#fff;
$whitebg:#fff;
::-webkit-scrollbar-track{background-color: #F5F5F5;border-radius: 10px;}
::-webkit-scrollbar{width: 8px;background-color: #F5F5F5;}
::-webkit-scrollbar-thumb{border-radius: 8px;background-color: #6cd260;}


